@import url('https://fonts.googleapis.com/css?family=Roboto');

.logo {
    width: 122px;
    height: 30px;
}

.btn.btn-primary{
    color:white;
    background-color:#FD4A4A;
    font-weight: bold;
    border-color:transparent;
    border-radius:0px;
    height: 40px;
    width: 144px;
}

.linkNav ul {
    padding: 0;
    margin: 0;
}

.linkNav ul li {
    display: inline-block;
    text-align: center;
}

.linkNav ul li a {
    text-decoration: none;
}

.navbar ul {
    padding: 0;
    margin: 0;
}


.navlink {
    margin-left: 400px;
}


.navbar ul li a {
    font-size: 12px;
    font-style: normal;
    font-family: 'Roboto', sans-serif;

}


.button-primary{
    background-color: #FD4A4A;
    width: 133px;
    height: 31px;
    text-align: center;
    color: #FAFAFA;


}

.card {
    display: inline-block;
    float: left;
    margin : 73px 73px 73px 112px;
    padding: 0;

}

.categorie {
    background-color: #FD4A4A;
    height: 46px;
}

.categorie p {
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 7px;
}

/*.card2 {*/
/*display: inline-block;*/
/*float: left;*/
/*margin : 76px 76px 76px 119px;*/
/*padding: 0;*/
/*}*/

.carousel-inner {
    background-color: #FAFAFA;
}

.Banda {
    background-color: #EDEDED;
}

.spotlight {
    background-color: #FD4A4A;
    height: 126px;

}

.link {
    margin-top: 40px;
    margin-bottom: 31px;
    width: 520px;
    height: 48px;

}

.link a {
    font-style: italic;
    font-size: 37px;
    font-family: 'Roboto', sans-serif;
    color: #FAFAFA;
    font-weight: bold;
    text-decoration: none;
}

.link a:hover {
    text-decoration: none;
    color: #F2F2F2;
}


.SpotButton.btn-primary{
    width: 205px;
    height: 51px;
    background-color:#D23737;
    margin: 44px 62px 31px 50px;
    color:white !important;
    font-weight: bold;
    font-size: 24px;


}

.sectionContact {
    background-color: #EDEDED;
}
.contact {
    width: 525px;
    height: 575px;
}

.imgContact {
    margin: 85px 0 0 38px;
}
.logoSky {
    width: 159px;
    height:76px ;
    margin-left: 88px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.form {
    width: 362px;
    height: 511px;
    padding: 20px;
    margin: 90px 47px 56px 133px;
    background-color: #FAFAFA;
    border-radius: 15px;
    -webkit-box-shadow: -1px 1px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 14px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 14px 0px rgba(0,0,0,0.75);

}

.form-group input {
    background-color: #EDEDED;
    margin: 28px 0 25px 0;
}

.form-group select {
    background-color: #EDEDED;

}

.form-group textarea {
    background-color: #EDEDED;
}

.footer {
    background-color: #FD4A4A;
    height: 73px;
}

.imgfooter {
    width: 149px;
    height: 36px;
    margin : 19px;
}

.canais {

    background-color: #FAFAFA;
    border-radius: 10px;
    margin: 10px ;
    height: 45px;

}


.canais span {
    color: #FD4A4A;
    font-size: 22px;
    font-weight: bold;
}

.canais p {
    font-family :'Roboto', sans-serif;
    font-style: normal;
    font-size: 7px;
    text-align: center;
    color: #9B9B9B;

}

.description {
    background-color: #EDEDED;
}

.price span {
    font-weight: bold;
    color: #FD4A4A;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin-left: 58px;
    font-style: italic;

}
.price p {
    text-align: center;
}

.spotPrice p {
    color: black;
    font-family: 'Roboto', sans-serif;
}

.condition p {
    color: #ADAAAA;
    font-family: 'Roboto', sans-serif;
}

.price2 {
    font-size: 50px;
    color: #FD4A4A;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 0;
    font-style: italic;
    margin-left: 8px;
}

.afterPrince {
    color : #ADAAAA;
    font-family: 'Roboto', sans-serif;
}
.titleCat p {
    color: #FD4A4A;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    font-weight: bold;

}

.titleCat {
    background-color: #F1F1F1;
    height: 46px;
}

.empty {
    background-color: #DFDFDF;
}

.button.btn.btn-primary{
    background-color: #E3E3E3;
    height: 40px;
    width: 164px;
    margin: 0;

    color: #646464;

}

.linkFooter ul {
    padding: 0;
    margin: 0;
}
.linkFooter ul li {
    font-size:  12px;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    display: inline-block;
    margin-left: 35px;
    margin-top: 25px;
;
}

.linkFooter a{

    color: #F2F2F2;
    text-decoration: none;
}

.number {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    color: #F2F2F2;
    font-weight: bold;
    font-style: italic;
    text-align: center;


}

.number p {
    margin-top: 12px;
}